.heading{
    font-size:30px;
    width:100%;
    box-shadow: 5px 5px 8px red;
    margin:0px;
}
.hol{
float: none;
padding:10px;
border-radius: 20px;
background-color: white;
color:black;
}
.heading1{
    font-size:20px;
}
.result_tag{
    font-size:20px;
    width:200px;
}
.footer{
    position:fixed;
    background-color:blue;
    color:white;
    bottom:0;
    width:100%;
    text-align: center;
    line-height:3;
    font-size:15px;
    font-weight:bold;
}
canvas{
    border:5px groove black;
    border-radius:20px;
    margin-top: 150px;
    box-shadow: 5px 5px 8px red;
}